{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="about">
      <div class="divide">
        <h1>About Us</h1>
      
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, tortor vitae consectetur fringilla, ex leo vulputate magna, ac malesuada sem lectus in metus. Pellentesque quis nisl molestie, lobortis ligula ac, convallis arcu. Mauris eget enim sem. Integer bibendum tortor ornare eros blandit auctor. Fusce mi ex, iaculis sed eros mollis, porttitor faucibus elit. Aenean at iaculis turpis. Pellentesque sed fermentum diam. Integer sem ante, efficitur imperdiet neque nec, rutrum malesuada felis. Nam eget turpis viverra, elementum nibh ac, hendrerit neque. Sed bibendum non justo ut ornare.
        </p>
        <p>
          Ut sollicitudin auctor dolor, ut feugiat leo pretium quis. Pellentesque convallis eros mi, sed cursus nisl luctus vel. Ut maximus dui vel accumsan porta. Duis imperdiet sem vel enim tempor, imperdiet sodales lectus ultricies. Donec tempus sollicitudin massa, nec tincidunt nisl malesuada vel. Sed et interdum lacus. Suspendisse sit amet mi tortor. Curabitur volutpat commodo volutpat. Aenean varius pharetra turpis non hendrerit. Nunc vel eleifend nibh, mollis varius magna. Nulla at elit ultrices, molestie libero quis, sagittis sapien. Proin quis euismod leo, nec placerat metus.
        </p>

        <p>
          Morbi laoreet diam nulla. Vestibulum vitae lorem nisi. Aliquam vel nulla at dui interdum feugiat. Curabitur a justo eget neque rutrum commodo sed sit amet felis. Donec urna lectus, ultrices id dapibus at, blandit vel lorem. Morbi malesuada nec arcu eget suscipit. Morbi aliquet nunc id nisi tempus, ut posuere eros euismod. Pellentesque turpis velit, mattis semper odio id, faucibus cursus lectus. Praesent eget eleifend orci, eu tempus mi. Nulla magna nisi, blandit sit amet ex quis, ultrices ullamcorper ex. Integer nec tortor sit amet enim cursus feugiat.
        </p>

        
      </div>

      <div class="divide">
        <img src="{% static 'img/mario-and-adrian.jpg' %}" alt="Mario and Adrian" id="about-img"/>
      </div>
    </section>
{% endblock %}